.jumbotron {
    
    padding-bottom: 18%;
    padding-top: 18%;
    border-radius: 0;
}

.front {
    background-image: url("electronic_circuit.jpeg");
    opacity: 0.9;
    background-size: cover;
}

.front-fonts {
    color: orangered;
    font-family: 'Jockey One', sans-serif; 

    background-color: black;
}

.front-fonts-sub {
    font-family: 'Lato', sans-serif;
}

#last_fm_fetcher {
    background-image: url("music_recording.jpg");
    opacity: 0.9;
}

.disabled {
  cursor: not-allowed;
}